<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.AthleteMapper" >
  <resultMap id="BaseResultMap" type="model.Athlete" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Identity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Age" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="Sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Tel" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="Score" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="Team_ID" jdbcType="DECIMAL" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Name, Identity, Age, Sex, Tel, Score, Team_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from athlete
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from athlete
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="model.Athlete" >
    insert into athlete (ID, Name, Identity, 
      Age, Sex, Tel, Score, 
      Team_ID)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR}, 
      #{age,jdbcType=DECIMAL}, #{sex,jdbcType=VARCHAR}, #{tel,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, 
      #{teamId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="model.Athlete" >
    insert into athlete
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="identity != null" >
        Identity,
      </if>
      <if test="age != null" >
        Age,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="tel != null" >
        Tel,
      </if>
      <if test="score != null" >
        Score,
      </if>
      <if test="teamId != null" >
        Team_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.Athlete" >
    update athlete
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        Identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        Age = #{age,jdbcType=DECIMAL},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        Tel = #{tel,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        Score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="teamId != null" >
        Team_ID = #{teamId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Athlete" >
    update athlete
    set Name = #{name,jdbcType=VARCHAR},
      Identity = #{identity,jdbcType=VARCHAR},
      Age = #{age,jdbcType=DECIMAL},
      Sex = #{sex,jdbcType=VARCHAR},
      Tel = #{tel,jdbcType=DECIMAL},
      Score = #{score,jdbcType=DECIMAL},
      Team_ID = #{teamId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>