<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.JudgerMapper" >
  <resultMap id="BaseResultMap" type="model.Judger" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="TEL" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="Age" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Identity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Team_ID" jdbcType="DECIMAL" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TEL, Age, Identity, Password, Name, Team_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from judger
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from judger
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="model.Judger" >
    insert into judger (ID, TEL, Age, 
      Identity, Password, Name, 
      Team_ID)
    values (#{id,jdbcType=DECIMAL}, #{tel,jdbcType=DECIMAL}, #{age,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{teamId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="model.Judger" >
    insert into judger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="age != null" >
        Age,
      </if>
      <if test="identity != null" >
        Identity,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="teamId != null" >
        Team_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=DECIMAL},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.Judger" >
    update judger
    <set >
      <if test="tel != null" >
        TEL = #{tel,jdbcType=DECIMAL},
      </if>
      <if test="age != null" >
        Age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        Identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        Team_ID = #{teamId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Judger" >
    update judger
    set TEL = #{tel,jdbcType=DECIMAL},
      Age = #{age,jdbcType=VARCHAR},
      Identity = #{identity,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Team_ID = #{teamId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>